section.archive 
{
    div {
        padding: 20px;
        @include flex(row, $justify: space-around);

        h2 {
            font-size: 20px;
            text-align: center;
        }

        button {
            cursor: pointer;
            padding: 5px;
            border: 1px solid black;
            border-radius: 5px;
            &:active {
                background-color: aliceblue;
            }
        }
    }

    ul {
        padding: 20px 0;
        gap: 5px;

        li {
            height: 45px;
            background-color: $secondaryTextColor;
            color: $secondaryColor;
            box-shadow: none;

            p {
                font-size: 13px;
            }

            i {
                cursor: pointer;
                font-size: 15px;
                border-left: 1px solid $primaryColor;
                padding-left: 10px;
            }
        }
    }
}