section.home
{
}

.search {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 17px 15px;
    background-color: $primaryColor;
    @include MQ(450px){
        padding: 20px 25px 15px;
    }
    @include MQ(768px){
        padding: 20px 35px 15px;
    }
    @include MQ(992px){
        width: 85%;
        padding: 20px 45px 15px;
    }
    @include MQ(1200px){
        padding: 20px 60px 15px;
    }

    input {
        padding: 7px;
        padding-right: 30px;
        width: 100%;
        border: none;
        border-radius: 10px;
        outline-color: $primaryColor;
        color: $secondaryTextColor;
    }

    i {
        position: absolute;
        right: 25px;
        top: 40%;
        font-size: 18px;
        color: $secondaryTextColor;
        @include MQ(450px){
            right: 35px;
        }
        @include MQ(768px){
            right: 43px;
        }
        @include MQ(992px){
            right: 55px;
        }
        @include MQ(1200px){
            right: 65px;
        }

        &:active {
            color: blue;
        }
    }
}

ul {
    @include flex($gap: 10px);
    list-style: none;
    padding: 70px 0 10px;

    .empty {
        margin-top: 35vh;
        opacity: 60%;
    }

    li {
        height: 70px;
        width: 90%;
        background-color: $secondaryColor;
        margin: 0;
        padding: 7px 10px;
        @include flex(row, $justify: space-between);
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0 $secondaryTextColor;
        
        .detail {
            width: 90%;
            height: 100%;
            @include flex($align: flex-start, $justify: space-between);
            overflow: hidden;

            p {
                font-size: 12px;

                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                @include MQ(350px){
                    -webkit-line-clamp: 2;
                }
                @include MQ(600px){
                    font-size: 13px;
                }
            }
            span {
                font-size: 11px;
                color: $secondaryTextColor;
            }
        }

        .icons {
            width: 10px;
            height: 100%;
            @include flex($justify: space-between);
            font-size: 13px;
            color: $secondaryTextColor;

            i {
                padding: 1px 0;
                &:active {
                    color: $primaryTextColor;
                }
            }
        }
    }
}

.add-task {
    position: fixed;
    bottom: 70px;
    right: 50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: $secondaryTextColor;
    @include flex();
    
    &:active {
        i {
            color: $primaryTextColor;
        }
    }

    @include MQ(992px){
        bottom: 40px;
        right: 9%;
    }
    @include MQ(992px){
        right: 10%;
    }

    i {
    font-size: 28px;
    color: $primaryColor;
    }
}

.task-textarea {
    @include flex($gap: 0px);

    display: none;
    
    background-color: white;
    position: fixed;
    width: 90%;
    bottom: 70px;
    left: 5%;
    z-index: 3;
    overflow: hidden;
    border: 1px solid $secondaryTextColor;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    @include MQ(992px){
        bottom: 15px;
        left: 4%;
        width: 77%;
    }

    textarea {
        width: 100%;
        height: 50px;
        padding: 5px;
        resize: none;
        border: none;
        border-bottom: 1px solid $primaryColor;
        outline: none;
        @include MQ(992px){
            height: 70px;
        }
    }

    div {
        @include flex(row, $justify: space-between);
        width: 100%;
        @include MQ(992px){
            padding: 0 30px;
        }

        button {
            background: $primaryColor;
            border: none;
            border-radius: 10px;
            padding: 5px 10px;
            margin: 5px;
            align-self: flex-end;
            color: $secondaryTextColor;
    
            &:active {
                background: $secondaryTextColor;
                color: $secondaryColor;
            }
        }
    }
}