section.homepage {
    display: block;

    .homepage-body {
        margin-top: 20px;
        padding: 10px;
        @include flex($gap: 20px);

        p {
            text-align: center;
        }

        .account {
            @include flex($gap: 15px);

            a {
                // text-decoration: none;
                background-color: lightgrey;
                opacity: 80%;
                color: $primaryTextColor;
                padding: 5px 10px;
                border-radius: 10px;
            }
        }
    }
}

.homepage-footer {
    margin-top: 100px;
    @include flex($gap: 10px);

    .guide {
        text-decoration: none;
        padding: 5px;
        border-radius: 20px;
        background-color: lightblue;
        color: $primaryTextColor;
    }

    .copyright {
        font-size: 13px;
    }
}