section.todo-list {
    // display: block;
}

.search {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 17px 15px;
    background-color: $primaryColor;

    input {
        padding: 7px;
        padding-right: 25px;
        width: 100%;
        border: none;
        border-radius: 10px;
        outline-color: $primaryColor;
        color: $secondaryTextColor;
    }

    i {
        position: absolute;
        right: 22px;
        top: 40%;
        font-size: 18px;
        color: $secondaryTextColor;

        &:active {
            color: blue;
        }
    }
}

ul {
    @include flex($gap: 10px);
    list-style: none;
    padding: 70px 0 10px;

    li {
        height: 70px;
        width: 90%;
        background-color: $secondaryColor;
        margin: 0;
        padding: 7px 10px;
        @include flex(row, $justify: space-between);
        border-radius: 5px;
        box-shadow: 1px 1px 2px 0 $secondaryTextColor;
        
        .detail {
            width: 90%;
            height: 100%;
            @include flex($align: flex-start, $justify: space-between);

            p {
                font-size: 13px;
                // align
            }
            span {
                font-size: 11px;
                color: $secondaryTextColor;
            }
        }

        .icons {
            width: 10px;
            height: 100%;
            @include flex($justify: space-between);
            font-size: 13px;
            color: $secondaryTextColor;

            i {
                padding: 1px 0;
                &:active {
                    color: $primaryTextColor;
                }
            }
        }
    }
}

.add-task {
    position: fixed;
    bottom: 80px;
    right: 30px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px $secondaryTextColor;
    background-color: $secondaryTextColor;
    @include flex();

    i {
    font-size: 28px;
    color: $primaryColor;
    }
}