section.todo-list {
    // display: block;
}

.search {
    position: relative;
    width: 100%;
    padding: 0 17px;
    margin: 20px 0;

    input {
        padding: 7px;
        padding-right: 25px;
        width: 100%;
        border: none;
        border-radius: 10px;
        outline-color: $primaryColor;
        color: $secondaryTextColor;
    }

    i {
        position: absolute;
        right: 22px;
        top: 20%;
        font-size: 18px;
        color: $secondaryTextColor;

        &:active {
            color: blue;
        }
    }
}

ul {
    @include flex($gap: 10px);
    list-style: none;
    margin-bottom: 75px;
    padding: 0;

    li {
        height: 70px;
        width: 90%;
        background-color: $secondaryColor;
        margin: 0;
        padding: 7px 10px;
        @include flex(row, $justify: space-between);
        border-radius: 5px;
        
        .detail {
            width: 90%;
            height: 100%;
            @include flex($align: flex-start, $justify: space-between);

            p {
                font-size: 13px;
                // align
            }
            span {
                font-size: 11px;
                color: $secondaryTextColor;
            }
        }

        .icons {
            width: 10px;
            height: 100%;
            @include flex($justify: space-between);
            font-size: 13px;
            color: $secondaryTextColor;

            i {
                padding: 1px 0;
                &:active {
                    color: $primaryTextColor;
                }
            }
        }
    }
}