section.task-textarea {
    @include flex($gap: 0px);

    display: none;
    
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 0;
    z-index: 3;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    textarea {
        width: 100%;
        height: 50px;
        padding: 5px;
        resize: none;
        border: none;
        border-bottom: 1px solid $primaryColor;
        outline: none;
    }

    button {
        background: $primaryColor;
        border: none;
        border-radius: 10px;
        padding: 5px 10px;
        margin: 5px;
        align-self: flex-end;
        color: $secondaryTextColor;

        &:active {
            background: $secondaryTextColor;
            color: $secondaryColor;
        }
    }
}