@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

$primaryColor: #f1f4f7;
$secondaryColor: white;
$primaryTextColor: black;
$secondaryTextColor: grey;

body {
    font-family: poppins, arial;
    background-color: $primaryColor;
}

@mixin flex($direction: column, $align: center, $justify: center, $gap: 5px){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

///////////////////////////////////////////

@import "homepage";