@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

$primaryColor: #f1f4f7;
$secondaryColor: white;
$primaryTextColor: black;
$secondaryTextColor: grey;

body {
    font-family: poppins, arial;
    background-color: $primaryColor;
}

@mixin flex($direction: column, $align: center, $justify: center, $gap: 5px){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

///////////////////////////////////////////

@import "homepage", "list", "new-task", "archive";

//////////////////////////////////////////

h1 {
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
}

section {
    background-color: $primaryColor;
    margin-bottom: 75px;

    display: none;
}


.nav-container {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: inherit;
    padding: 7px 0;
    @include flex();

    nav  {
        width: 80%;
        background-color: lightgrey;
        @include flex(row, $gap: 20px);
        padding: 8px;
        border-radius: 30px;
        box-shadow: 0 0 20px 10px $secondaryColor;
    
        a {
            color: $primaryTextColor;
            text-decoration: none;
            @include flex($gap: 0);
            font-size: 13px;

            i {
                font-size: 16px;
            }
        }
    }
}