@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: poppins, arial;
  overflow-y: scroll;
}

section.homepage .homepage-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}
section.homepage .homepage-body .homepage-header p {
  text-align: center;
  padding: 0 40px;
}
section.homepage .homepage-body .account {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
section.homepage .homepage-body .account a {
  font-size: 15px;
  background-color: lightgrey;
  opacity: 80%;
  color: black;
  padding: 5px 10px;
  border-radius: 2px;
  text-decoration: none;
}
section.homepage .homepage-body .color-mode div {
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;
}
section.homepage .homepage-body .homepage-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
section.homepage .homepage-body .homepage-footer .guide {
  text-decoration: none;
  padding: 5px;
  border-radius: 20px;
  background-color: lightblue;
  color: black;
}

.search {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 17px 15px;
  background-color: #f1f4f7;
}
@media only screen and (min-width: 450px) {
  .search {
    padding: 20px 25px 15px;
  }
}
@media only screen and (min-width: 768px) {
  .search {
    padding: 20px 35px 15px;
  }
}
@media only screen and (min-width: 992px) {
  .search {
    width: 85%;
    padding: 20px 45px 15px;
  }
}
@media only screen and (min-width: 1200px) {
  .search {
    padding: 20px 60px 15px;
  }
}
.search input {
  padding: 7px;
  padding-right: 30px;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline-color: #f1f4f7;
  color: grey;
}
.search i {
  position: absolute;
  right: 25px;
  top: 40%;
  font-size: 18px;
  color: grey;
}
@media only screen and (min-width: 450px) {
  .search i {
    right: 35px;
  }
}
@media only screen and (min-width: 768px) {
  .search i {
    right: 43px;
  }
}
@media only screen and (min-width: 992px) {
  .search i {
    right: 55px;
  }
}
@media only screen and (min-width: 1200px) {
  .search i {
    right: 65px;
  }
}
.search i:active {
  color: blue;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  padding: 70px 0 10px;
}
ul .empty {
  margin-top: 35vh;
  display: none;
}
ul li {
  height: 70px;
  width: 90%;
  background-color: white;
  margin: 0;
  padding: 7px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px 0 grey;
}
ul li .detail {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  overflow: hidden;
}
ul li .detail p {
  font-size: 13px;
}
ul li .detail span {
  font-size: 11px;
  color: grey;
}
ul li .icons {
  width: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 13px;
  color: grey;
}
ul li .icons i {
  padding: 1px 0;
}
ul li .icons i:active {
  color: black;
}

.add-task {
  position: fixed;
  bottom: 70px;
  right: 50px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.add-task:active i {
  color: black;
}
@media only screen and (min-width: 992px) {
  .add-task {
    bottom: 40px;
    right: 9%;
  }
}
@media only screen and (min-width: 992px) {
  .add-task {
    right: 10%;
  }
}
.add-task i {
  font-size: 28px;
  color: #f1f4f7;
}

.task-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  display: none;
  background-color: white;
  position: fixed;
  width: 90%;
  bottom: 70px;
  left: 5%;
  z-index: 3;
  overflow: hidden;
  border: 1px solid grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media only screen and (min-width: 992px) {
  .task-textarea {
    bottom: 15px;
    left: 4%;
    width: 77%;
  }
}
.task-textarea textarea {
  width: 100%;
  height: 50px;
  padding: 5px;
  resize: none;
  border: none;
  border-bottom: 1px solid #f1f4f7;
  outline: none;
}
@media only screen and (min-width: 992px) {
  .task-textarea textarea {
    height: 70px;
  }
}
.task-textarea div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .task-textarea div {
    padding: 0 30px;
  }
}
.task-textarea div button {
  background: #f1f4f7;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  align-self: flex-end;
  color: grey;
}
.task-textarea div button:active {
  background: grey;
  color: white;
}

section.archives h2 {
  padding: 20px;
  font-size: 20px;
  text-align: center;
}
section.archives ul {
  padding: 20px 0;
  gap: 5px;
}
section.archives ul li {
  height: 45px;
  background-color: grey;
  color: white;
  box-shadow: none;
}
section.archives ul li p {
  font-size: 13px;
}
section.archives ul li i {
  font-size: 15px;
  border-left: 1px solid #f1f4f7;
  padding-left: 10px;
}

main {
  min-height: 100vh;
  background-color: #f1f4f7;
}
@media only screen and (min-width: 992px) {
  main {
    width: 85%;
  }
}

h1 {
  font-size: 20px;
  text-align: center;
  padding: 15px 0;
}

section {
  display: none;
  background-color: #f1f4f7;
  padding-bottom: 75px;
}
@media only screen and (min-width: 992px) {
  section {
    padding-bottom: 20px;
  }
}

nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 50px;
  background-color: #f1f4f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
@media only screen and (min-width: 992px) {
  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 25px;
    top: 20px;
    right: 6%;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
    background-color: transparent;
    padding: 10px;
  }
}
@media only screen and (min-width: 1200px) {
  nav {
    right: 8%;
  }
}
nav a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 11px;
}
@media only screen and (min-width: 992px) {
  nav a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: grey;
  }
}
nav a i {
  color: #555;
  font-size: 20px;
}
@media only screen and (min-width: 992px) {
  nav a i {
    font-size: 22px;
  }
}/*# sourceMappingURL=style.css.map */