@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

$primaryColor: #f1f4f7;
$secondaryColor: white;
$primaryTextColor: black;
$secondaryTextColor: grey;

body {
    font-family: poppins, arial;
    overflow-y: scroll;
}

@mixin flex($direction: column, $align: center, $justify: center, $gap: 5px){
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
    gap: $gap;
}

@mixin MQ($width){
    @media only screen and (min-width: $width) {
        @content;
    }
}

///////////////////////////////////////////

@import "homepage", "todo-list", "archive";

//////////////////////////////////////////

main {
    min-height: 100vh;
    background-color: $primaryColor;
    @include MQ(992px){
        width: 85%;
    }
}

h1 {
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
}

section {
    display: none;

    background-color: $primaryColor;
    padding-bottom: 75px;
    @include MQ(992px){
        padding-bottom: 20px;
    }
}

nav  {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 50px;
    background-color: $primaryColor;
    @include flex(row, $gap: 20px, $justify: space-evenly);

    @include MQ(992px){
        @include flex($gap: 25px, $align: flex-start);
        top: 20px;
        right: 6%;
        width: fit-content;
        height: fit-content;
        background-color: transparent;
        padding: 10px;
    }
    @include MQ(1200px){
        right: 8%;
    }

    a {
        text-decoration: none;
        @include flex($gap: 5px);
        font-size: 11px;
        @include MQ(992px){
            @include flex(row, $gap: 5px);
            color: $secondaryTextColor;
            // font-size: 12px;
        }

        i {
            color: #555;
            font-size: 20px;
            @include MQ(992px){
                font-size: 22px;
            }
        }
    }
}